.ingredients-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.95rem;
}

.ingredients-list li {
    margin-bottom: 0.3rem;
}

.bordered-block {
    border: 2px solid black;
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.preparation-list {
    list-style: none;
    counter-reset: step;
    padding-left: 0;
    font-size: 1rem;
    line-height: 1.6;
}

.preparation-list li {
    counter-increment: step;
    margin-bottom: 0.8rem;
    position: relative;
    padding-left: 3rem;   /* iets meer ruimte dan de bol */
}

.preparation-list li::before {
    content: counter(step);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* verticaal centreren */
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.strikethrough {
    text-decoration: line-through;
    color: gray;
}

.custom-navbar {
    background-color: #d2e5d7 !important;
}

.custom-navbar .nav-link {
    color: #1a1a1a !important;
}

.footer {
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: #FCA17D;
}


.container {
    padding: 50px 0;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 25px;
}

.card-img {
    object-fit: cover;
}

.card-h2 {
    color: black;
}



