<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>Ingrediënten overzicht</title>
</head>

<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>Overzicht van alle ingrediënten</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ingredient : ${ingredients}">
            <td><a th:text="${ingredient.name}"></a></td>
            <td>
                <a th:href="@{/ingredient/edit/{name}(name = ${ingredient.name})}" class="btn btn-sm btn-primary">
                    <i class="bi bi-pencil"></i>
                </a>
                <a th:href="@{/ingredient/delete/{ingredientId}(ingredientId = ${ingredient.ingredientId})}"
                   class="btn btn-sm btn-danger">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/ingredient/add}" class="btn btn-sm btn-success">Maak nieuw ingrediënt</a>


</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>